@import ../../styles/variables.sass

.logotype
  display: flex
  align-items: center
  gap: 15px
  text-decoration: none

  &:visited
    color: $color-font-light

  &__text
    font-size: 32px;
    text-transform: uppercase