@import ../../styles/fonts.sass
@import ../../styles/variables.sass
@import ../../styles/global.sass
@import ../../components/card/card.sass


.content-wrapper
  max-width: 1440px
  margin: 0 auto

.section
  max-width: 1220px
  padding-left: 10px
  padding-right: 10px
  margin: 0 auto

.survival-container
  background: #02160b

.survival-wrapper
  background: #02160b url(../../assets/img/fox.png) no-repeat  
  box-shadow: -200px 0 120px -100px #02160b inset, 200px 0 120px -100px #02160b inset

.section-survival
  margin-top: 120px
  display: flex
  flex-direction: column
  gap: 50px
  padding-bottom: 240px

.section-survival__about
  width: 275px

.articles-container
  background-color: #cccccc

.section-articles
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 120px
  padding-bottom: 110px

.section-articles__header
  margin-bottom: 20px

.articles-slider
  margin-top: 120px
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  gap: 60px
  width: 100%

  &__button-prev,
  &__button-next
    width: 29px
    height: 39px
    transition: all 0.5s ease
    cursor: pointer
    outline: none
    border: none
    background-color: transparent

  &__button-prev
    background: url('../../assets/icons/prev.svg') no-repeat
  &__button-next
    background: url('../../assets/icons/next.svg') no-repeat
  &__button-prev:hover,
  &__button-prev:focus,
  &__button-next:hover,
  &__button-next:focus
      transform: scale(1.2)

  &__cards
    width: 1020px

  &__card
    @include card-styles
  
.slick-slide 
  margin-left: 60px;

.notify-container
  background-color: #cccccc

.section-notify
  padding-top: 120px
  padding-bottom: 240px
  display: flex
  flex-direction: column
  gap: 55px
  align-items: center

.email-notify
  display: flex

.footer-container
  background: #181617

.footer-wrapper
  padding-top: 150px
  padding-bottom: 150px
  background: #181617 url('../../assets/img/footer.jpg') no-repeat
  box-shadow: -200px 0 120px -100px #181617 inset, 200px 0 120px -100px #181617 inset
