include ../logotype/logotype.pug
include ../navigation/navigation.pug

mixin header()
  header.header
    +logotype({href: '#'})
    +navigation([{href: '#',value:'Blog'},{href: '#',value:'Contacts'},{type:'icon',href: '#',value:'',icon:'find'},{type:'ghost',href: '#',value:'Sign in'}])