.footer
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  &__navigation,
    list-style-type: none
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 85px
    &-item:nth-child(1)
      width: 80px
    &-item:nth-child(2)
      width: 100px
    &-item:nth-child(3)
      width: 129px

.socials
  list-style-type: none
  display: flex
  align-items: center
  gap: 27px
  &__item
    width: 40px
    height: 40px
    background-color: white
    border-radius: 50%
    &:hover,
    &:focus
      border-radius: 50%
      background-color: #E39128
      transform: scale(1.1)

.button-icon > .facebook-icon
  display: inline-block
  width: 40px
  height: 40px
  background-image: url(../../assets/icons/facebook.svg)

.button-icon > .instagram-icon
  display: inline-block
  width: 40px
  height: 40px
  background-image: url(../../assets/icons/instagram.svg) 

.button-icon > .pinterest-icon
  display: inline-block
  width: 40px
  height: 40px
  background-image: url(../../assets/icons/pinterest.svg) 

.button-icon > .telegram-icon
  display: inline-block
  width: 40px
  height: 40px
  background-image: url(../../assets/icons/telegram.svg) 